<div class="container">
  <div class="text-center mb-4">
    <%= link_to "Add your ðŸ¶", new_dog_path, class: "btn btn-orange btn-lg" %>
  </div>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Breed</th>
          <th>Age</th>
          <th>Bio</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @dogs.each do |dog| %>
          <tr>
            <td><%= dog.id %></td>
            <td><%= dog.name %></td>
            <td><%= dog.breed %></td>
            <td><%= dog.age %></td>
            <td><%= dog.bio %></td>
            <td>
              <%= link_to 'Show', dog_path(dog), class: 'btn btn-orange' %>
              <%# <%= link_to 'Edit', edit_dog_path(dog), class: 'btn btn-warning' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
