<h1>Listing All Dogs</h1>

<%= link_to "Add new ðŸ¾", new_dog_path, class: "btn btn-info" %>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Breed</th>
      <th>Age</th>
      <th>Bio</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @dogs.each do |dog| %>
      <tr>
        <td>
          <% if dog.image.attached? %>
            <%= image_tag dog.image, class: "img-fluid rounded", style: "width: 50px; height: 50px; object-fit: cover;" %>
          <% else %>
            <%= image_tag 'dog.png', class: "img-fluid rounded", style: "width: 50px; height: 50px; object-fit: cover;" %>
          <% end %>
        </td>
        <td><%= dog.name %></td>
        <td><%= dog.breed %></td>
        <td><%= dog.age %></td>
        <td><%= dog.bio %></td>

        <td>
          <%= link_to 'Show', dog_path(dog), class: 'btn btn-info' %>
          <%# <%= link_to 'Edit', edit_dog_path(dog), class: 'btn btn-warning' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
