  <div class="container">
  <h3>Create a profile for your dog to help them find new human friends</h3>
        <%= simple_form_for @dog do |f| %>
          <%= f.input :name, placeholder: 'Spot' %>
          <%= f.input :breed %>
          <%= f.input :age %>
          <%= f.input :bio %>
          <%= f.submit class: 'btn btn-flat' %>
        <% end %>
</div>
