
<h1><%= @dog.name %></h1>
<% if @dog.image.attached? %>
  <%= image_tag @dog.image, size: "300x200" %>
<% end %>

<p>Breed: <%= @dog.breed %></p>
<p>Age: <%= @dog.age %></p>
<p>Bio: <%= @dog.bio %></p>



<%= link_to  "BOOK", new_dog_booking_path(@dog) %>
