
<!-- app/views/dogs/show.html.erb -->

<div class="container mt-4">
  <div class="row">
    <!-- Dog Image -->
    <div class="col-md-4">
      <% if @dog.image.attached? %>
        <%= cl_image_tag @dog.image.key, class: "img-fluid rounded" %>
      <% else %>
        <p>No image available</p>
      <% end %>
    </div>

    <!-- Dog Details -->
    <div class="col-md-8">
      <h1 class="display-4"><%= @dog.name %></h1>
      <p class="lead">Breed: <%= @dog.breed %></p>
      <p class="lead">Age: <%= @dog.age %></p>
      <p class="lead">Bio: <%= @dog.bio %></p>
      <p class="lead">Owner: <%= @dog.user.bio %></p>

    <% if user_signed_in? %>
      <%= link_to 'Book', new_dog_booking_path(@dog), class: 'btn btn-info btn-lg' %>
    <% end %>

     <% if not user_signed_in? %>
      <%= link_to '* Please sign in to see booking options *', new_user_session_path, class: 'btn btn-info btn-lg' %>
    <% end %>


    </div>
  </div>
</div>
