<div class="container mt-4">
  <%# Welcome to the booking page! You're creating a booking for <%= @dog.name %> %>

  <%# ... existing code ... %>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow">
        <div class="card-body">
          <h2 class="card-title text-center mb-4">Book <%= @dog.name %></h2>

          <%= simple_form_for [@dog, @booking] do |f| %>
            <%= f.input :start_date, as: :date, input_html: { class: "datepicker", data: { controller: "datepicker" } } %>
            <%= f.input :end_date, as: :date, input_html: { class: "datepicker", data: { controller: "datepicker" } } %>
            <%= f.submit "Book", class: "btn btn-primary w-100 mt-3" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <%# ... existing code ... %>
</div>
