<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag("https://img.freepik.com/free-vector/cute-dog-logo_1051-3349.jpg?size=338&ext=jpg&ga=GA1.1.2008272138.1724630400&semt=ais_hybrid", alt: "DogFind!", class: "logo") %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <% if not user_signed_in? %>
          <li class="nav-item active">
              <%= link_to "Sign in", new_user_session_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Register", new_user_registration_path, class: "nav-link" %>
            </li>
          <% end %>


        <% if user_signed_in? %>
          <%# <li class="nav-item active">
            <%= link_to "Home", root_path, class: "nav-link" > </li> %>
          <li class="nav-item">
            <%= link_to "Dashboard", dashboard_path(current_user), class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
          <li class="nav-item active">
           <%= link_to "Add your Dog", new_dog_path, class: "nav-link" %>

          </li>

            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Edit your Profile",  edit_user_registration_path, class: "dropdown-item" %>

              <%= link_to "Edit your Dogs / NOT WORKING", '#', class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>

            </div>
          </li>
        <% end %>

      </ul>
    </div>
  </div>
</div>
