<div class="row wrapper">

    <div class="dashboard-nav">
     <%= link_to "Add your dog", new_dog_path, class: "btn btn-orange btn-lg mx-3" %>
   <%= link_to 'Show the dogs', dogs_path, class: 'btn btn-orange btn-lg' %>
    </div>

    <div class="wrap">
      <div class="dogs-wrap col-6">
        <h2>My Dogs</h2>
        <div class="dog">
          <% @dogs.each do |dog|%>
            <div class="dog-item">
              <%= link_to dog.name, dog %>
              <%= dog.breed %>
              <%= dog.age %>
              <%= dog.bio %>

              <% if dog.image.attached? %>
                <%= image_tag dog.image, class: "dog-photo" %>
              <% else %>
                <%= image_tag "dog.png", class: "dog-photo" %>
              <% end %>

              <%= link_to "Edit Dog", edit_dog_path(dog), class: "btn btn-primary" %>
              <%= button_to "Delete Dog", dog_path(dog), method: :delete, data: { notice: "Are you sure you want to delete this dog?" }, class: "btn btn-danger" %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="booking-wrap col-6">
        <div class="booking">
          <h2>Bookings</h2>
          <% if @bookings.any? %>
            <h3>Pending Bookings</h3>
            <% @bookings.select { |b| b.status == 'pending' && b.dog.user == current_user }.each do |booking| %>
              <li class="list-group-item">
                Dog: <%= link_to booking.dog.name, dog_path(booking.dog) %>
                <br>
                Requester: <%= booking.user.email %>
                <br>
                Date:
                <% if booking.start_date && booking.end_date %>
                  <%= booking.start_date.strftime("%B %d, %Y") %> till <%= booking.end_date.strftime("%B %d, %Y") %>
                <% else %>
                  Not specified
                <% end %>
                <br>
                <%# Days: <%= (booking.end_date - booking.start_date).to_i %>
                <br>
                <%= button_to "Approve", approve_dog_booking_path(booking.dog, booking), method: :patch, class: "btn btn-success", data: { turbo: false } %>
                <%= button_to "Reject", dog_booking_path(booking.dog, booking), method: :delete, data: { turbo_confirm: "Are you sure you want to reject this booking?", turbo: false }, class: "btn btn-danger" %>
              </li>
            <% end %>

            <h3>All Bookings</h3>
            <% @bookings.each do |booking| %>
              <li class="list-group-item">
                Dog: <%= link_to booking.dog.name, dog_path(booking.dog) %>
                <br>
                Status: <%= booking.status.capitalize %>
                <br>
                Date:
                <% if booking.start_date && booking.end_date %>
                  <%= booking.start_date.strftime("%B %d, %Y") %> till <%= booking.end_date.strftime("%B %d, %Y") %>
                <% else %>
                  Not specified
                <% end %>
                <br>
                <%# Days: <%= (booking.end_date - booking.start_date).to_i %>
                <br>
                <%= button_to "Delete Booking", dog_booking_path(booking.dog, booking), method: :delete, data: { turbo_confirm: "Are you sure you want to delete this booking?" }, class: "btn btn-danger" %>
              </li>
            <% end %>
          <% else %>
            <p>No bookings available.</p>
          <% end %>
        </div>
      </div>
    </div>


  </div>
