<div class="row wrapper">
  <div class="dashboard-nav d-flex justify-content-center">
    <%= link_to "Add your dog", new_dog_path, class: "btn btn-danger btn-lg mx-3 rounded-pill text-white" %>
    <%= link_to 'Show the dogs', dogs_path, class: 'btn btn-danger btn-lg rounded-pill text-white' %>
  </div>
  <div class="wrap">
    <div class="dogs-wrap col-6">
      <h2>My Dogs</h2>
      <% @dogs.each do |dog| %>
        <div class="dog-item">

          <% if dog.image.attached? %>
            <%= cl_image_tag dog.image.key, class: "dog-photo img-fluid rounded mb-3 w-100" %>
          <% else %>
            <%= cl_image_tag "https://res.cloudinary.com/dqdmlrr95/image/upload/v1725017523/dogfoot_gkjo1x.png", class: "dog-photo img-fluid rounded mb-3" %>
          <% end %>
          <%= link_to dog.name, dog, class: "text-danger" %>
          <%= dog.breed %>
          <%= dog.age %>
          <%= dog.bio %>

          <div class="mt-2">
            <%= link_to edit_dog_path(dog), class: "btn btn-sm text-primary border-primary me-2 mb-2" do %>
              <i class="fas fa-edit"></i> Edit
            <% end %>
            <%= button_to dog_path(dog), method: :delete, data: { turbo_confirm: "Are you sure you want to delete this dog?" }, class: "btn btn-sm text-danger border-danger mb-2" do %>
              <i class="fas fa-trash-alt"></i> Delete
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="booking-wrap col-6">
      <h2>Bookings</h2>
      <div class="status-legend">
        <span class="status-dot bg-light-orange"></span> Booking Pending / Waiting for confirmation <br>
        <span class="status-dot bg-light-green"></span> Booking Approved
      </div>
      <% if @bookings_as_owner.any? %>
        <h3>My Dog's Bookings</h3>
        <% @bookings_as_owner.select { |b| b.status == 'pending' }.each do |booking| %>
          <li class="list-group-item">
            Dog: <%= link_to booking.dog.name, dog_path(booking.dog), class: "text-danger" %>
            <br>
            Requester: <%= booking.user.email %>
            <br>
            Date:
            <% if booking.start_date && booking.end_date %>
              <%= booking.start_date.strftime("%B %d, %Y") %> till <%= booking.end_date.strftime("%B %d, %Y") %>
            <% else %>
              Not specified
            <% end %>
            <br>
            <%= button_to "Approve", approve_dog_booking_path(booking.dog, booking), method: :patch, class: "btn btn-success btn-sm rounded-pill me-2 mb-2", data: { turbo: false } %>
            <%= button_to "Reject", dog_booking_path(booking.dog, booking), method: :delete, data: { turbo_confirm: "Are you sure you want to reject this booking?", turbo: false }, class: "btn btn-outline-danger btn-sm rounded-pill mb-2" %>
          </li>
        <% end %>
        <div class="my-5"></div>
        <h3>My Bookings</h3>
        <% @bookings_as_customer.each do |booking| %>
          <li class="list-group-item <%= booking.status == 'approved' ? 'bg-light-green' : 'bg-light-orange' %>">
            Dog: <%= link_to booking.dog.name, dog_path(booking.dog) %>
            <br>
            Status: <%= booking.status.capitalize %>
            <br>
            Date:
            <% if booking.start_date && booking.end_date %>
              <%= booking.start_date.strftime("%B %d, %Y") %> till <%= booking.end_date.strftime("%B %d, %Y") %>
            <% else %>
              Not specified
            <% end %>
            <br>
            <%= button_to "Delete Booking", dog_booking_path(booking.dog, booking), method: :delete, data: { turbo_confirm: "Are you sure you want to delete this booking?" }, class: "btn btn-danger" %>
          </li>
        <% end %>
      <% else %>
        <p>No bookings available.</p>
      <% end %>
    </div>
  </div>
</div>
