<div class="bodywrap">


    <div class="container col-s-3 col-8" id="welcometext">
      <h1>Welcome to DogFinder</h1>
      <p>We're here to connect responsible breeders with loving families.
      Whether you're a breeder looking to list your dogs or a future pet owner searching for the perfect companion,
      join us today. Register now to list your dogs or find your future furry friend! 🐾</p>
    </div>



  <div class="container col-s-3 col-8" id="buttons">
    <%= link_to "Add your dog", new_dog_path, class: "btn btn-orange btn-lg" %>
   <%= link_to 'Show the dogs', dogs_path, class: 'btn btn-orange btn-lg' %>
  </div>



</div>
<div class="puppy-wrap">
  <div class="text-center mb-4">
    <h2>Here are some of our Friends you can find here:</h2>
  </div>
  <div class="puppy-preview d-flex flex-wrap justify-content-center">
    <% @dogs.each do |dog| %>
      <div class="dog-item m-3 text-center">
        <% if user_signed_in? %>
          <%= link_to dog_path(dog) do %>
            <% if dog.image.attached? %>
              <%= image_tag dog.image, size: "300x200", class: "img-fluid rounded shadow" %>
            <% end %>
            <p class="mt-2 font-weight-bold"><%= dog.name %></p>
          <% end %>
        <% else %>
          <% if dog.image.attached? %>
            <%= image_tag dog.image, size: "300x200", class: "img-fluid rounded shadow" %>
          <% end %>
          <p class="mt-2 font-weight-bold"><%= dog.name %></p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
